body {   font-family: sans-serif;}

h1 {   color: red;}

#contact {   font-weight: bold;}

#picture {   width: 45%;}

h2 {
   margin-top: 4%;
   text-align: center;
   background-color: gray;
   font-variant: small-caps;
   letter-spacing: 4px;
}

#now {   font-size: x-small;}
